.top-site {
    background-color: #00a54f;
    color: white;
    padding: 30px 0 30px 40px;
    width: 100%;
    display: flex;
    box-shadow: 5px 5px 5px  #00f777cb;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.container-fluid {
    padding: 0px;
}