.lista {
   border-radius: 5px;
   
}

.lista a:hover {
    text-decoration: none;
    color: #00a54f;
}

.lista a:link {
    color: #212529;
}

.lista a {
    color: #212529;
}

.img-card {
    width: 326px;
    height: 244px;
}